flows.json
[{"id":"16a02005b40fa17e","type":"server-state-changed","z":"1a2b3c4d5e6f7g8h","name":"Color Selected","server":"ac15a281.87301","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_text.selected_color"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"color_choice","propertyType":"msg","value":"","valueType":"entityState"}],"x":100,"y":360,"wires":[["241e8c248f0a9222"]]},{"id":"8426a583cec88eea","type":"switch","z":"1a2b3c4d5e6f7g8h","name":"Card Colors","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Icon","vt":"str"},{"t":"eq","v":"IconBackground","vt":"str"},{"t":"eq","v":"Background","vt":"str"},{"t":"eq","v":"Primary","vt":"str"},{"t":"eq","v":"Secondary","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":730,"y":360,"wires":[["2d6a1d4d12f785ca"],["473decd9ff4729f8"],["886ef495851d8967"],["687fda848c948ec1"],["9a4651c12374dd43"]]},{"id":"15321734a5335572","type":"api-current-state","z":"1a2b3c4d5e6f7g8h","name":"Card Item","server":"ac15a281.87301","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.card_configuration","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":360,"wires":[["8426a583cec88eea"]]},{"id":"2d6a1d4d12f785ca","type":"api-call-service","z":"1a2b3c4d5e6f7g8h","name":"Set Icon Color","server":"ac15a281.87301","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.icon_c"],"labelId":[],"data":"{\"value\": color_choice}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":980,"y":340,"wires":[[]]},{"id":"886ef495851d8967","type":"api-call-service","z":"1a2b3c4d5e6f7g8h","name":"Set Background Color","server":"ac15a281.87301","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.background_c"],"labelId":[],"data":"{\"value\": color_choice}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1000,"y":460,"wires":[[]]},{"id":"687fda848c948ec1","type":"api-call-service","z":"1a2b3c4d5e6f7g8h","name":"Set Primary Color","server":"ac15a281.87301","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.primary_c"],"labelId":[],"data":"{\"value\": color_choice}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":990,"y":520,"wires":[[]]},{"id":"9a4651c12374dd43","type":"api-call-service","z":"1a2b3c4d5e6f7g8h","name":"Set Secondary Color","server":"ac15a281.87301","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.secondary_c"],"labelId":[],"data":"{\"value\": color_choice}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1000,"y":584,"wires":[[]]},{"id":"241e8c248f0a9222","type":"change","z":"1a2b3c4d5e6f7g8h","name":"Remove ()","rules":[{"t":"change","p":"color_choice","pt":"msg","from":"(","fromt":"str","to":"","tot":"str"},{"t":"change","p":"color_choice","pt":"msg","from":")","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":360,"wires":[["15321734a5335572"]]},{"id":"74b6801c6fb4861a","type":"comment","z":"1a2b3c4d5e6f7g8h","name":"Trigger when a new color is selected, remove () around Color Name, get which item to change (Icon, IconBackground, Background, Primary, Secondary) assign value to input_text. item ","info":"","x":600,"y":300,"wires":[]},{"id":"473decd9ff4729f8","type":"api-call-service","z":"1a2b3c4d5e6f7g8h","name":"Set Icon Background Color","server":"ac15a281.87301","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.icon_background_c"],"labelId":[],"data":"{\"value\": color_choice}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1020,"y":400,"wires":[[]]},{"id":"ac15a281.87301","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
